---
import Base from '../../layouts/Base.astro';
---

<Base title="Trellises — KMBA" section="trellises">
  <div class="page-header">
    <div class="page-header-inner">
      <div class="breadcrumb">
        <span class="breadcrumb-current">Trellises</span>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="listing-box">
      <!-- ARTICLES_START -->
      <a class="listing-item" href="/trellises/god/">
        <span class="title">God</span>
      </a>
      <a class="listing-item" href="/trellises/consciousness/">
        <span class="title">Consciousness</span>
      </a>
      <a class="listing-item" href="/trellises/ray/">
        <span class="title">Satyajit Ray</span>
      </a>
      <a class="listing-item" href="/trellises/kiarostami/">
        <span class="title">Abbas Kiarostami</span>
      </a>
      <a class="listing-item" href="/trellises/chan-wook/">
        <span class="title">Park Chan-wook</span>
      </a>
      <!-- ARTICLES_END -->
    </div>
  </div>
</Base>
